server:
  rest:
    addr: "0.0.0.0:9800"
    timeout: 10s
    enable_swagger: true
    cors:
      headers:
        - "X-Requested-With"
        - "Content-Type"
        - "Authorization"
      methods:
        - "GET"
        - "POST"
        - "PUT"
        - "DELETE"
        - "HEAD"
        - "OPTIONS"
      origins:
        - "*"
    middleware:
      auth:
        method: "HS256"
        key: "some_api_key"

  sse:
    addr: ":9801"
    codec: "json"
    path: "/events"
    auto_stream: true
    auto_reply: false

  grpc:
    addr: "0.0.0.0:0"
    timeout: 10s
    middleware:
      enable_logging: true
      enable_recovery: true
      enable_tracing: true
      enable_validate: true
      enable_circuit_breaker: true
      enable_metadata: true
