.index {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .loading-text {
      font-size: 28px;
      color: #666;
      text-align: center;
    }
  }
}